<% if @users.count.positive? %>
  <div class="col-12 col-md-10 col-lg-8 offset-md-1 offset-lg-2 border border-radius-5 p-3 mt-5">
      <h3 class="table-heading"><%= @user_type + 's:' %></h3>

      <%= form_tag(users_path, method: :get, class: "form-group col-5 col-md-4 col-xl-3 offset-7 offset-md-8 offset-xl-9 mb-3") do %>
        <%= hidden_field_tag :user_type, @user_type %>
        <%= hidden_field_tag :project_id, @project_id %>
        <div class="input-group">
          <%= text_field_tag(:search, params[:search], class: "form-control search-field d-inline w-75", placeholder: "Search Users") %>
          <%= button_tag(type: "submit", class: "btn btn-submit btn-primary d-inline w-25") do %>
            <i class="fa fa-search"></i>
          <% end %>
        </div>
      <% end %>

      <table class="table table-hover table-responsive">
        <thead class="thead-light">
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Add User</th>
          </tr>
        </thead>

        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.name %></td>
              <td><%= user.email %></td>
              <td><%= link_to 'Add User', project_assignments_path(project_id: @project_id, user_id: user.id, user_type: @user_type), method: :post %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
<% else %>
  <div class=" counter col-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3 border border-radius-5 p-3 mt-3">
    <h3 class="table-heading">No <%= @user_type + 's' %> found!</h3>
  </div>
<% end %>
