<% if @bug.image.attached? %>
  <p>
    <%= cl_image_tag(@bug.image.key, width: 500, id: 'previous-img') %>
  </p>
<% end %>

<p>
  <strong>Title:</strong>
  <%= @bug.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @bug.description %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @bug.deadline %>
</p>

<p>
  <strong>Type:</strong>
  <%= @bug.bug_type.capitalize %>
</p>

<p>
  <strong>Status:</strong>
  <%= @bug.status.capitalize %>
</p>

<% if policy(@bug).edit? %>
  <%= link_to 'Edit', edit_project_bug_path(@project, @bug) %> |
<% end %>
<%= link_to 'Project', user_project_path(current_user, @project) %> |
<%= link_to 'Dashboard', users_path(@project) %>
